<%= form_with(model: @feed, local: true, url:choose_new_or_edit) do |form| %>

  <div class="field">
    <tr>
      <td><h3><%= form.label :写真を選ぶ %></h3></td><br>
      <td><%= image_tag(@feed.image.url,size:"320x480") if @feed.image.url %></td><br><br>
      <td><%= form.file_field :image, id: :feed_image %></td><br><br>
      <td><h3><%= form.label :コメントを入力 %></h3></td><br>
      <td><%= form.text_field :content %></td>
    </tr>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
