<p id="pageTop"><a href="#">top</i></a></p>
<h1>ユーザーの写真</h1>

<table class="table"></div>
  <thead>
    <tr>
      <th><h3>Image</h3></th>
      <th><h4>コメント</h4></th>
      <th><h4>投稿者</h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= link_to (image_tag feed.image,size:"320x480"),feed,class:"pc"%><%= link_to (image_tag feed.image,size:"160x240"),feed,class:"sp" %></td>
        <td><br><%= feed.content %></td>
        <td><h4><%= feed.user.name %></h4></td>
      </tr>
      <tr>
        <td><h4><%= link_to '投稿を見る', feed %></h4></td>
        <td><h4><%= link_to '編集する', edit_feed_path(feed) %></h4></td>
        <td><h4><%= link_to '削除する', feed, method: :delete, data: { confirm: 'Are you sure?' } %></h4></td>
      </tr>
      <tr>
        <th><h3>Image</h3></th>
        <th><br><h4>コメント</h4></th>
        <th><br><h4>投稿者</h4></th>
        <th colspan="3"></th>
      </tr>
    <% end %>
  </tbody>
</table><br>

<h4 class="new_buttan"><%= link_to '新しく投稿する', new_feed_path %></h4>
